
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}


.chamada {
    background: rgb(230, 72, 72);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

.chamada-texto {
    margin-right: 5%;
}


img {
    height: 200px;
  }

  .categoria2 {
    display: flex;
    overflow-x: auto;
    gap: 45px;
}
  .categoria2 {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria2 img {
opacity: 0.5;
}
.categoria2 img:hover {
opacity: 1.0;
border: 1.5px solid red;
}
.categoria h2 {
    color:rgb(199, 75, 75)
}